<button (click)="onClick()" type="button"
  class="mfe-auth-w-full mfe-auth-flex mfe-auth-items-center mfe-auth-bg-white mfe-auth-border mfe-auth-border-gray-300 mfe-auth-rounded-lg mfe-auth-shadow-md mfe-auth-px-6 mfe-auth-py-2 mfe-auth-text-sm mfe-auth-font-medium mfe-auth-text-gray-800 hover:mfe-auth-bg-gray-200 focus:mfe-auth-outline-none focus:mfe-auth-ring-2 focus:mfe-auth-ring-offset-2 focus:mfe-auth-ring-gray-500 mfe-auth-justify-center">
  <ng-content></ng-content>
  <span>{{label()}}</span>
</button>